In [1]:
import geopandas as gpd
import pandas as pd

In [14]:
lsoa21_median = gpd.read_file('./lsoa21_median.geojson')
lsoa21_median

,lsoa21cd,lsoa21nm,median,monthly_rental_yield,geometry
0,E01000001,City of London 001A,836360,4181,"POLYGON ((-0.09667 51.52027, -0.09439 51.52066..."
1,E01000002,City of London 001B,822498,4112,"POLYGON ((-0.08969 51.52069, -0.08995 51.51996..."
2,E01000003,City of London 001C,545570,2727,"POLYGON ((-0.09653 51.52295, -0.09647 51.52282..."
3,E01000005,City of London 001E,590899,2954,"POLYGON ((-0.07571 51.51575, -0.07397 51.51445..."
4,E01000006,Barking and Dagenham 016A,242375,1211,"POLYGON ((0.09122 51.53905, 0.0936 51.53767, 0..."
...,...,...,...,...,...
4989,E01035718,Westminster 019G,4694588,23472,"POLYGON ((-0.15628 51.50999, -0.15484 51.50898..."
4990,E01035719,Westminster 021F,868987,4344,"POLYGON ((-0.12328 51.49298, -0.12383 51.49213..."
4991,E01035720,Westminster 021G,869185,4345,"POLYGON ((-0.13088 51.4929, -0.13088 51.49275,..."
4992,E01035721,Westminster 023H,3143543,15717,"POLYGON ((-0.14841 51.492, -0.1498 51.49077, -..."
4993,E01035722,Westminster 024G,1079615,5398,"POLYGON ((-0.13465 51.48883, -0.13455 51.48861..."

In [12]:
lsoa21_median['monthly_rental_yield'] = (lsoa21_median['median'] * 0.06 / 12).astype(int)
lsoa21_median

,lsoa21cd,lsoa21nm,median,monthly_rental_yield,geometry
0,E01000001,City of London 001A,836360,4181,"POLYGON ((-0.09667 51.52027, -0.09439 51.52066..."
1,E01000002,City of London 001B,822498,4112,"POLYGON ((-0.08969 51.52069, -0.08995 51.51996..."
2,E01000003,City of London 001C,545570,2727,"POLYGON ((-0.09653 51.52295, -0.09647 51.52282..."
3,E01000005,City of London 001E,590899,2954,"POLYGON ((-0.07571 51.51575, -0.07397 51.51445..."
4,E01000006,Barking and Dagenham 016A,242375,1211,"POLYGON ((0.09122 51.53905, 0.0936 51.53767, 0..."
...,...,...,...,...,...
4989,E01035718,Westminster 019G,4694588,23472,"POLYGON ((-0.15628 51.50999, -0.15484 51.50898..."
4990,E01035719,Westminster 021F,868987,4344,"POLYGON ((-0.12328 51.49298, -0.12383 51.49213..."
4991,E01035720,Westminster 021G,869185,4345,"POLYGON ((-0.13088 51.4929, -0.13088 51.49275,..."
4992,E01035721,Westminster 023H,3143543,15717,"POLYGON ((-0.14841 51.492, -0.1498 51.49077, -..."
4993,E01035722,Westminster 024G,1079615,5398,"POLYGON ((-0.13465 51.48883, -0.13455 51.48861..."

In [13]:
lsoa21_median.to_file('lsoa21_median.geojson', driver='GeoJSON')